<!--
    This file is distributed under the MIT license.
    See LICENSE file in the project root for details.
  -->
<!DOCTYPE html>
<html>
  <head>
    <title>rsf-web</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link
      rel="stylesheet"
      type="text/css"
      href="/main.css">
  </head>
  <body>
    <div id="app">
      <connect-view v-if="!channel"></connect-view>
      <surface-view v-if="channel"></surface-view>
    </div>
    <script
      src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <script
      src="https://unpkg.com/vue"></script>
    <script
      src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script id="connect-view-template" type="text/x-template">
      <div class="ui middle aligned centered grid">
        <div class="connect-view column">
          <form class="ui large form"
            v-on:submit.prevent="connect">
            <div class="field">
              <div class="ui input">
                <input type="text" placeholder="Remote Surface Name" required
                  v-model="name">
              </div>
            </div>
            <button class="ui fluid blue large submit button">
              Connect
            </button>
          </form>
          <div class="ui center aligned vertical footer segment">
            <a href="https://github.com/bee-browser/rsf-web"
              title="GitHub: bee-browser/rsf-web">
              <i class="github black big icon"></i>
            </a>
          </div>
        </div>
      </div>
    </script>
    <script id="surface-view-template" type="text/x-template">
      <div class="ui grid">
        <div class="center aligned surface-view column">
          <div class="ui compact segments">
            <h5 class="ui left aligned inverted blue header segment">
              Surface({{ name }}) {{ width }}x{{ height }}
            </h5>
            <div class="surface-view ui segment"
              v-bind:style="{ boxSizing: 'content-box', width: width + 'px',
              height: height + 'px' }">
              <div class="surface-view-canvas"
                v-bind:style="{ clip: `rect(0px,${width}px,${height}px,0px)` }">
                <div v-for="paintBox in paintBoxes"
                  v-bind:style="paintBox.style"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>
    <script src="/main.js"></script>
  </body>
</html>
