/*
 * This file is distributed under the MIT license.
 * See LICENSE file in the project root for details.
 */

#app {
  height: 100%;
}

#app .grid {
  height: 100%;
}

.connect-view {
  max-width: 450px;
}

.canvas.column {
  margin-top: 1em;
  margin-bottom: 1em;
}

canvas.ui.segment {
  padding: 0;
}
