/*
 * This file is distributed under the MIT license.
 * See LICENSE file in the project root for details.
 */

#app {
  height: 100%;
}

#app .grid {
  height: 100%;
}

.connect-view {
  max-width: 450px;
}

.surface-view.column {
  margin-top: 1em;
  margin-bottom: 1em;
}

.surface-view.ui.segment {
  padding: 0;
  position: relative;
}

.surface-view-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
